doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title constructive framework structure.js
        link(href='css/main.min.css', rel='stylesheet')
    body
        h1 constructive framework structure.js
        .container
            #res
    footer
    script(src="js/libs.js")
    script(src='js/cfstructure.min.js')
    script(src='js/demoapp.min.js')
